---
import type { TestData } from '../util/data-schema';

interface Props {
	data: TestData;
	siteHash: string;
}

const { data, siteHash } = Astro.props;
---

<td class="leaderboard-score">
	<speedlify-score
		class={`leaderboard-score-circles ${data.lighthouse.total === 400 ? 'leaderboard-score-circles-400' : ''}`}
		raw-data={JSON.stringify(data)}></speedlify-score>
	<span class="leaderboard-score-sum leaderboard-number">
		{data.lighthouse.total === 400 ? '😍' : data.lighthouse.total}
	</span>
</td>

<style>
	.circle {
	font-size: 11px;
	width: 32px;
	height: 32px;
	line-height: 11px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	color: var(--_circle, #666);
  }
</style>
