@import '@new-ui/reset';
@import '@new-ui/colors';
@import '@new-ui/typography';
@import '@new-ui/spacings';

@font-face {
	font-family: "Mono-Regular";
	src: url("/fonts/Mono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
  
:root {
--mono: "Mono-Regular";
--accent: var(--support-info);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	background-color: var(--background);
	color: var(--text-primary);
	font-family: var(--mono);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: var(--mono);
}

main, .container {
	margin: var(--spacing-09);
}
section {
	margin-bottom: var(--spacing-10);
}

a {
	color: var(--link);
}
footer {
	margin: 1rem;
}

p {
	margin-top: var(--spacing-00);
}
p.description-text {
	max-inline-size: 37.5rem;
}
.nu-u-link--subtle {
	color: var(--text-secondary) !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

html:not(.js) [data-js-only] {
	display: none !important;
}

a[href^='#'] {
	text-decoration: none;
}
