@import '@new-ui/reset';
@import '@new-ui/colors';
@import '@new-ui/typography';
@import '@new-ui/spacings';

body {
	background-color: var(--background);
	color: var(--text-primary);
	font-family: var(--system-ui);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
a {
	color: var(--link);
}
footer {
	margin: 1rem;
}
code {
	font-family: var(--monospace-code);
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

html:not(.js) [data-js-only] {
	display: none !important;
}

a[href^='#'] {
	text-decoration: none;
}